#parágrafo{
    text-align: left;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tema{
    text-align: left;
    color: black;
}

#subtema{
    text-align: left;
    color: black;
}